PORT=5600

# Use smtp.zoho.com para contas pessoais/free organization.
# Use smtppro.zoho.com para organização paga com e-mail de domínio.
SMTP_HOST=smtppro.zoho.com
SMTP_PORT=465
SMTP_USER=orcamento@sorriaerp.com.br
SMTP_PASS=sua_senha_ou_senha_de_app

MAIL_TO=orcamento@sorriaerp.com.br
